.h_maxima{
    max-height: 600px;
}
::-webkit-scrollbar{
    width: 6px;
    height: 10px;
}

::-webkit-scrollbar-track{
    display: none;

}

::-webkit-scrollbar-thumb{
    background-color: black;
    border-radius: 999px;
    height: 10px;
}