<div *ngIf="listadoImportancias.length == 0;else HayCategorias">
    <h2 class="text-center my-10">No tienes todavía importancias.</h2>
</div>

<ng-template #HayCategorias>
<div class="relative w-1/2 mx-auto overflow-x-auto shadow-md sm:rounded-lg my-10">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Id
                </th>
                <th scope="col" class="px-6 py-3">
                    Nombre Importancia
                </th>
                <th scope="col" class="px-6 py-3">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let importancia of listadoImportancias" class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{importancia.id}}
                </th>
                <td class="px-6 py-4">
                    {{importancia.importancia}}
                </td>
                <td class="px-6 py-4 flex gap-5">
                    <a [routerLink]="'/auth/actualizar-importancia/' + importancia.id" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                    <a (click)="eliminar(importancia.id!)" class="font-medium cursor-pointer text-red-600 dark:text-red-500 hover:underline">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>

    </div>
</ng-template>
