<div class="px-6  lg:px-8  h-svh bg-gradient-to-br from-amarillo via-claro to-azul">
    <div class="mx-auto max-w-2xl py-52">
      <div class="hidden sm:mb-8 sm:flex sm:justify-center">
      </div>
      <div class="text-center">
        <h1 class="text-4xl font-bold tracking-tight text-oscuro sm:text-6xl">Empiza a organizar tus tareas.</h1>
        <p class="mt-6 text-lg leading-8 text-oscuro">Cansado de siempre olvidar que tareas tienes que realizar o hacerlo de una manera deficiente, esta es tu web.</p>
        <div class="mt-10 flex items-center justify-center gap-x-6">
          <a routerLink="/auth/crear-rutina" class="rounded-md bg-azul px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Crear una rutina</a>
        </div>
      </div>
    </div>
  </div>
  