<section class="flex min-h-full h-screen bg-oscuro flex-col justify-center px-6 py-12 lg:px-8 bg-gradient-to-br from-azul via-claro to-amarillo">
    <div class="h-auto w-1/2 mx-auto bg-claro bg-opacity-10 shadow-2xl rounded-md">  
        <div class="sm:mx-auto sm:w-full sm:max-w-sm">
            <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-violeta animate-fade-down animate-once animate-duration-[1000ms]">Crear importancia</h2>
        </div>
        <div class="my-10 sm:mx-auto sm:w-full sm:max-w-sm animate-fade-down animate-once animate-duration-[1000ms] animate-delay-1000">
            <form class="space-y-6" [formGroup]="miFormulario" (ngSubmit)="enviar()" action="#" method="POST">
            <div>
                <label for="importancia" class="block text-sm font-medium leading-6 text-violeta">Nueva Importancia</label>
                <div class="mt-2">
                <input type="text" formControlName="importancia" name="importancia" id="importancia" autocomplete="given-name" class="block w-full bg-transparent rounded-md border-2 border-transparent px-3.5 py-2 text-violeta shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:text-violeta focus:bg-transparent  sm:text-sm sm:leading-6">
                <div *ngIf="formularioEnviado && validacion('importancia')" class="bg-red-500 my-4 border w-fit rounded text-white p-2">
                    Es necesario introducir una importancia
                </div>
            </div>
            </div>
        
        
            <div>
                <button type="submit" class="flex w-full justify-center rounded-md bg-violeta px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm  focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Crear importancia</button>
            </div>
            </form>
        </div>
    </div>

    <app-listado-importancia [listadoImportancias]="listadoImportancias"></app-listado-importancia>
</section>
