<div>
    <div class="flex justify-center mb-8 gap-5">
        <h2 class="text-center text-2xl font-bold">Tareas por estado</h2>
        <button (click)="inicializarChart(1)" id="btn_porcentaje" class="block py-2 px-3 bg-black text-white rounded-lg">
            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                <path fill-rule="evenodd" d="M20.3 8.6c.1.3.3.6.6.8a3.5 3.5 0 0 1 0 5.2 2.4 2.4 0 0 0-.8 1.9 3.5 3.5 0 0 1-3.6 3.6 2.5 2.5 0 0 0-2 .8 3.5 3.5 0 0 1-5 0 2.4 2.4 0 0 0-2-.8A3.5 3.5 0 0 1 4 16.5a2.4 2.4 0 0 0-.8-2 3.5 3.5 0 0 1 0-5 2.4 2.4 0 0 0 .8-2A3.5 3.5 0 0 1 7.5 4a2.4 2.4 0 0 0 2-.8 3.5 3.5 0 0 1 5 0 2.4 2.4 0 0 0 2 .8A3.5 3.5 0 0 1 20 7.5c0 .4 0 .7.2 1ZM9.9 7.4a1 1 0 1 0 0 2 1 1 0 0 0 0-2Zm6 2.2a1 1 0 0 0-1.5-1.4l-6.2 6.2a1 1 0 0 0 1.4 1.4l6.2-6.2Zm-2.9 5a1 1 0 1 0 0 2 1 1 0 1 0 0-2Z" clip-rule="evenodd"/>
            </svg>
        </button>

        <button (click)="inicializarChart()" id="btn_valores" class="hidden py-2 px-3 bg-black text-white rounded-lg">
            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m16 10 3-3m0 0-3-3m3 3H5v3m3 4-3 3m0 0 3 3m-3-3h14v-3"/>
            </svg>
        </button>
    </div>
    
      
    <canvas id="chart" class="h-80 max-h-80">{{chart}}</canvas>

    <h3 *ngIf="this.tareasDone > 0 || this.tareasDoing > 0" class="text-center text-xl font-semibold my-5">Recomendaciones: </h3>
    <div *ngIf="this.tareasDone > 0">
      <p class="text-black font-bold text-lg mb-4 w-fit">1. Terminar tareas hechas pero no finalizadas.</p>
      <p class="mb-2 ms-5 p-3 bg-green-500 text-white rounded-lg w-fit">Tienes {{this.tareasDone |i18nPlural:TareasMapaDone}}</p>
    </div>

    <div *ngIf="this.tareasDoing > 0">
        <p class="text-black font-bold text-lg mb-4 w-fit">2. Estas realizando ahora mismo tareas.</p>
        <p class="mb-2 ms-5 p-3 bg-amarillo text-white rounded-lg w-fit">Ahora mismo estás haciendo {{this.tareasDoing|i18nPlural:TareasMapaDoing}}</p>
      </div>
</div>
