
<div>
    <form class="w-96">   
        <label for="simple-search" class="sr-only">Search</label>
        <div class="relative">
            <input type="text" 
                    id="simple-search" 
                    class="bg-transparent w-96 mt-2 border border-violeta text-violeta text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block pe-10 p-2.5   placeholder:text-violeta focus:border-0" 
                    placeholder="Buscar por nombre de tarea..." 
                    required 
                    #txtInput
                    (keyup)="onKeyPress(txtInput.value)"/>
            <div class="absolute inset-y-0 end-0 flex items-center ps-3 pointer-events-none">
                <svg class="w-4 h-4 me-2 text-violeta" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                </svg>
            </div>
        </div>
    </form>

    <ul *ngIf="this.listadoTareas.length > 0 || noExisteTarea && texto != '';" class="max-w-md h-16 max-h-28 overflow-y-auto overflow-x-hidden space-y-1 p-3 mt-2  bg-white bg-opacity-45 rounded-lg absolute w-96 list-inside">

            <li   [style.background]="tarea.categoria.color" (click)="obtenerId(tarea.id!)" class="w-full flex items-center justify-between text-white font-semibold cursor-pointer py-2 px-3 rounded-lg mb-3" *ngFor="let tarea of listadoTareas">
                {{tarea.nombre}}
                <p [ngStyle]="{'background-color': obtenerColorImportancia(tarea.importancia.importancia)}" class="px-2  p-1 w-fit font-semibold text-sm text-white rounded-sm">{{tarea.importancia.importancia}}</p>
            </li>


            <li *ngIf="noExisteTarea;" class="w-full flex items-center justify-between bg-red-500 text-white font-semibold  py-2 px-3 rounded-lg mb-3">
                No existen tareas
            </li>

    </ul>
</div>