<section class="p-40 h-svh bg-gradient-to-br from-amarillo via-claro to-azul">
    <div class="mx-auto container">
        <h1 class="text-center text-3xl font-bold">Listado tareas</h1>
    <div class="flex gap-36">
        <div>
            <h2 class="text-2xl font-semibold mb-5 text-azul">To do</h2>
            <div class="flex gap-10" *ngFor="let tarea of tareas">
                <app-card-tarea [card]="tarea"></app-card-tarea>
            </div>
        </div>
    </div>
    </div>
</section>
