<section class="p-20 h-svh bg-gray-600 bg-gradient-to-br block from-amarillo via-claro to-azul">
    <div class="mx-auto container">
        <app-alertas-tareas 
                [confirmarAlertaTareas]="confirmarAlertaTareas" 
                [confirmarTareaRealizada]="confirmarTareaRealizada"
                [noHayTareas]="noHayTareas"
                [NoHayTareasSinFiltro]="noHayTareasPorFiltro"
                ></app-alertas-tareas>

        <h1 class="text-center w-fit mx-auto text-3xl font-bold mb-10">Listado tareas</h1>
        <div class="flex justify-between my-20 items-center animate-fade-down animate-duration-800 animate-delay-600">
            <app-buscador-tarea (ponerModal)="ponerModal($event)"></app-buscador-tarea>
            <app-filtrado-tarea (eventoRecargaTareas)="recogerArrays($event)"></app-filtrado-tarea>
        </div>



        <ng-container *ngIf="!noHayTareasPorFiltro">
            <div class="flex gap-36 justify-between animate-fade-up animate-duration-800 animate-delay-1000" >
                <div>
                    <div class="flex justify-between items-center gap-3 mb-5">
                        <h2 class="text-2xl font-semibold  text-azul">Hacer</h2>
                        <!-- COMPONENTE CAMBIAR ORDEN DE LA URGENCIA -->
                       <app-cambiar-orden [id]="1" [arrayTareas]="tareasToDo" ></app-cambiar-orden>
                    </div>
                    <div id="todo" class=" h-96 w-fit min-w-80 overflow-y-auto overflow-x-hidden bg-violeta  rounded bg-opacity-10 px-4 flex flex-col gap-5 pt-5 relative"
                    cdkDropList
                    #todoList="cdkDropList"
                    [cdkDropListData]="tareasToDo"
                    [cdkDropListConnectedTo]="[doneList, doingList]"
                    (cdkDropListDropped)="drop($event)">
                        <div class="" *ngFor="let tarea of tareasToDo" cdkDrag [cdkDragData]="tarea">
                            <app-card-tarea (addModal)="ponerModal($event)" [card]="tarea"></app-card-tarea>
                            
                        </div>
                        <div class="absolute bottom-3 left-3">
                            <a routerLink="/auth/crear-tarea/1" class="flex gap-2 py-2 px-4 my-auto bg-violeta text-white rounded-xl">
                                Añadir tarea  
                                <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                                    <path fill-rule="evenodd" d="M8 7V2.2a2 2 0 0 0-.5.4l-4 3.9a2 2 0 0 0-.3.5H8Zm2 0V2h7a2 2 0 0 1 2 2v.1a5 5 0 0 0-4.7 1.4l-6.7 6.6a3 3 0 0 0-.8 1.6l-.7 3.7a3 3 0 0 0 3.5 3.5l3.7-.7a3 3 0 0 0 1.5-.9l4.2-4.2V20a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V9h5a2 2 0 0 0 2-2Z" clip-rule="evenodd"/>
                                    <path fill-rule="evenodd" d="M17.4 8a1 1 0 0 1 1.2.3 1 1 0 0 1 0 1.6l-.3.3-1.6-1.5.4-.4.3-.2Zm-2.1 2.1-4.6 4.7-.4 1.9 1.9-.4 4.6-4.7-1.5-1.5ZM17.9 6a3 3 0 0 0-2.2 1L9 13.5a1 1 0 0 0-.2.5L8 17.8a1 1 0 0 0 1.2 1.1l3.7-.7c.2 0 .4-.1.5-.3l6.6-6.6A3 3 0 0 0 18 6Z" clip-rule="evenodd"/>
                                  </svg>
                                                                     
                            </a>
                        </div>
                    </div>
                </div>
    
                <div>
                    <div class="flex justify-between items-center gap-3 mb-5">
                        <h2 class="text-2xl font-semibold  text-azul">Haciendo</h2>
    
                        <!-- COMPONENTE CAMBIAR ORDEN DE LA URGENCIA -->
                       <app-cambiar-orden [id]="2" [arrayTareas]="tareasDoing"></app-cambiar-orden>
                    </div>
                    <div id="doing" class="h-96 w-fit  min-w-80 altura overflow-y-auto overflow-x-hidden  bg-violeta  border-white rounded bg-opacity-10 px-4 flex flex-col gap-5 relative pt-5"
                    cdkDropList
                    #doingList="cdkDropList"
                    [cdkDropListData]="tareasDoing"
                    [cdkDropListConnectedTo]="[todoList, doneList]"
                    (cdkDropListDropped)="drop($event)">
                        <div class="" *ngFor="let tarea of tareasDoing" cdkDrag [cdkDragData]="tarea">
                            <app-card-tarea (addModal)="ponerModal($event)" [card]="tarea"></app-card-tarea>
                        </div>
                        <div class="absolute bottom-3 left-3">
                            <a routerLink="/auth/crear-tarea/2" class="flex gap-2 py-2 px-4 my-auto bg-violeta text-white rounded-xl">
                                Añadir tarea  
                                <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                                    <path fill-rule="evenodd" d="M8 7V2.2a2 2 0 0 0-.5.4l-4 3.9a2 2 0 0 0-.3.5H8Zm2 0V2h7a2 2 0 0 1 2 2v.1a5 5 0 0 0-4.7 1.4l-6.7 6.6a3 3 0 0 0-.8 1.6l-.7 3.7a3 3 0 0 0 3.5 3.5l3.7-.7a3 3 0 0 0 1.5-.9l4.2-4.2V20a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V9h5a2 2 0 0 0 2-2Z" clip-rule="evenodd"/>
                                    <path fill-rule="evenodd" d="M17.4 8a1 1 0 0 1 1.2.3 1 1 0 0 1 0 1.6l-.3.3-1.6-1.5.4-.4.3-.2Zm-2.1 2.1-4.6 4.7-.4 1.9 1.9-.4 4.6-4.7-1.5-1.5ZM17.9 6a3 3 0 0 0-2.2 1L9 13.5a1 1 0 0 0-.2.5L8 17.8a1 1 0 0 0 1.2 1.1l3.7-.7c.2 0 .4-.1.5-.3l6.6-6.6A3 3 0 0 0 18 6Z" clip-rule="evenodd"/>
                                  </svg>
                                                                     
                            </a>
                        </div>
                    </div>
                </div>
    
                <div>
                    <div class="flex justify-between items-center gap-3 mb-5">
                        <h2 class="text-2xl font-semibold  text-azul">Hechas</h2>
    
                        <app-cambiar-orden [id]="3" [arrayTareas]="tareasDone"></app-cambiar-orden>
                    </div>
                    <div
                      id="done"
                      class="h-96 altura w-fit min-w-80  overflow-y-auto overflow-x-hidden bg-violeta border-white rounded bg-opacity-10 px-4 flex flex-col gap-5 relative pt-5"
                      cdkDropList
                      #doneList="cdkDropList"
                      [cdkDropListData]="tareasDone"
                      [cdkDropListConnectedTo]="[todoList, doingList]"
                      (cdkDropListDropped)="drop($event)">
                      <div class="" *ngFor="let tarea of tareasDone" cdkDrag [cdkDragData]="tarea">
                        <app-card-tarea (addModal)="ponerModal($event)" [card]="tarea"></app-card-tarea>
                      </div>
                      <div class="absolute bottom-3 left-3">
                            <div class="flex gap-3">
                                <a routerLink="/auth/crear-tarea/3" class="flex w-fit gap-2 py-2 px-4 my-auto bg-violeta text-white rounded-xl">
                                    Añadir tarea  
                                    <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                                        <path fill-rule="evenodd" d="M8 7V2.2a2 2 0 0 0-.5.4l-4 3.9a2 2 0 0 0-.3.5H8Zm2 0V2h7a2 2 0 0 1 2 2v.1a5 5 0 0 0-4.7 1.4l-6.7 6.6a3 3 0 0 0-.8 1.6l-.7 3.7a3 3 0 0 0 3.5 3.5l3.7-.7a3 3 0 0 0 1.5-.9l4.2-4.2V20a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V9h5a2 2 0 0 0 2-2Z" clip-rule="evenodd"/>
                                        <path fill-rule="evenodd" d="M17.4 8a1 1 0 0 1 1.2.3 1 1 0 0 1 0 1.6l-.3.3-1.6-1.5.4-.4.3-.2Zm-2.1 2.1-4.6 4.7-.4 1.9 1.9-.4 4.6-4.7-1.5-1.5ZM17.9 6a3 3 0 0 0-2.2 1L9 13.5a1 1 0 0 0-.2.5L8 17.8a1 1 0 0 0 1.2 1.1l3.7-.7c.2 0 .4-.1.5-.3l6.6-6.6A3 3 0 0 0 18 6Z" clip-rule="evenodd"/>
                                    </svg>                                  
                                </a>
                                <a *ngIf="tareasDone.length > 0" (click)="abrirModalTerminadas()" class=" w-fit gap-2 p-2 my-auto  rounded-full text-white bg-green-500 cursor-pointer">
                                    <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                                        <path fill-rule="evenodd" d="M5 4a2 2 0 0 0-2 2v1h11l-2-2.3a2 2 0 0 0-1.5-.7H5ZM3 19V9h18v10a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2Zm11.7-7.7a1 1 0 0 0-1.4 1.4l.3.3H8a1 1 0 1 0 0 2h5.6l-.3.3a1 1 0 0 0 1.4 1.4l2-2c.4-.4.4-1 0-1.4l-2-2Z" clip-rule="evenodd"/>
                                      </svg>    
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <!-- MODAL DE TAREAS -->
        <app-modal-tarea    *ngIf="recogerTarea && hayModal" 
                            (hayModal)="cerrarModal($event)" 
                            (recorrerArrays)="recogerArrays($event)"
                             
                            [recogerTarea]="recogerTarea"></app-modal-tarea>
        </ng-container>
    </div>

    <!-- MODAL CONFIRMACION TAREAS TERMINADAS -->
    <app-modal-confirmacion *ngIf="confirmarTareaRealizada" 
        (hayModal)="cerrarModal($event)" 
        [tareas]="tareasDone"
        (recorrerArrays)="recogerArrays($event)"></app-modal-confirmacion>
        
</section>



    





    