<div *ngIf="terminar" class="absolute right-44 p-4 mb-4 text-sm w-fit ms-auto  rounded-lg bg-green-500  text-white" role="alert">
    <span class="font-medium">¡Tarea terminada!</span> La tarea ha sido terminada con éxito.
</div>

<div *ngIf="crear" class="absolute right-44 p-4 mb-4 text-sm w-fit ms-auto  rounded-lg bg-green-500  text-white" role="alert">
    <span class="font-medium">¡Tarea creada!</span> La tarea ha sido creada con éxito.
</div>

<div *ngIf="modificar" class="absolute right-44 p-4 mb-4 text-sm w-fit ms-auto  rounded-lg bg-azul  text-white" role="alert">
    <span class="font-medium">¡Tarea modificada!</span> La tarea ha sido modificada con éxito.
</div>

<div *ngIf="terminarTodas" class="absolute right-44 p-4 mb-4 text-sm w-fit ms-auto rounded-lg bg-green-500  text-white" role="alert">
    <span class="font-medium">¡Tareas terminadas!</span> La tareas ha sido terminadas con éxito.
</div>

<div *ngIf="eliminar" class="absolute p-4 mb-4 w-fit ms-auto right-44 text-sm rounded-lg bg-red-500 text-white" role="alert">
    <span class="font-medium">¡Tarea eliminada!</span> La tarea ha sido eliminada con éxito.
</div>

<div *ngIf="NoHayTareasSinFiltro" class="absolute p-4 right-44 mb-4 text-sm text-white w-fit rounded-lg  bg-amarillo" role="alert">             
    <span class="font-medium">¡Alerta no hay ninguna tareas con estos filtros!</span> 
</div>
