<div *ngIf="terminar" class="absolute right-44 p-4 mb-4 text-sm w-fit ms-auto text-green-800 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400" role="alert">
    <span class="font-medium">¡Tarea terminada!</span> La tarea ha sido terminada con éxito.
</div>

<div *ngIf="terminarTodas" class="absolute right-44 p-4 mb-4 text-sm w-fit ms-auto text-green-800 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400" role="alert">
    <span class="font-medium">¡Tareas terminadas!</span> La tareas ha sido terminadas con éxito.
</div>

<div *ngIf="eliminar" class="absolute p-4 mb-4 w-fit ms-auto right-44 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
    <span class="font-medium">¡Tarea eliminada!</span> La tarea ha sido eliminada con éxito.
</div>
