

<div *ngIf="crear" class="absolute top-10 right-8 p-4 mb-4 text-sm w-fit ms-auto rounded-lg bg-green-700  text-white" role="alert">
    <span class="font-medium">¡Categoría creada!</span> La categoría ha sido terminadas con éxito.
</div>

<div *ngIf="eliminar" class="absolute top-10 right-8 p-4 mb-4 w-fit ms-auto  text-sm rounded-lg bg-red-700 text-white" role="alert">
    <span class="font-medium">¡Categoría eliminada!</span> La categoría ha sido eliminada con éxito.
</div>

<div *ngIf="modificar" class="absolute top-10 right-8 p-4 mb-4 text-sm text-white w-fit rounded-lg  bg-azul" role="alert">             
    <span class="font-medium">¡Categoría modificada!</span> La categoría ha sido modificada con éxito. 
</div>
