<div class="flex gap-10 my-10">
    <div class="w-60">
        <label for="categorias" class="block text-sm font-medium leading-6 text-gray-900">Filtrar por categoria</label>
        <select id="categorias" name="categorias" (change)="cambioCategorias($event)" class="bg-transparent mt-2 border border-gray-300 text-violeta text-sm rounded-lg  block w-full p-2.5 ">
            <option selected value="0">Todos</option>
            <option *ngFor="let categoria of listadoCategorias" [value]="categoria.id!">{{categoria.categoria}}</option>
        </select>
    </div>
    

    <div class="w-60">
        <label for="importancias" class="block text-sm font-medium leading-6 text-gray-900">Filtrar por importancia</label>
        <select id="importancias" name="importancias" (change)="cambioImportancias($event)" class="bg-transparent mt-2 border border-gray-300 text-violeta text-sm rounded-lg  block w-full p-2.5 ">
            <option selected value="0">Todos</option>
            <option *ngFor="let importancia of listadoImportancias" [value]="importancia.id!">{{importancia.importancia}}</option>
        </select>
    </div>
</div>
