
    <div class="flex flex-row gap-10">
        <div>
            <p class="text-sm text-violeta font-semibold">Categorias</p>
            <select id="categorias" name="categorias" (change)="cambioCategorias($event)" class="bg-transparent mt-2 border border-violeta text-violeta text-sm rounded-lg  block w-full p-2.5 ">
                <option value="0" [selected]="filtrosActuales.id_categoria === 0">Todos</option>
                <option [selected]="filtrosActuales.id_categoria === categoria.id!" *ngFor="let categoria of listadoCategorias" [value]="categoria.id!">{{categoria.categoria}}</option>
            </select>
        </div>
        <div>
            <p class="text-sm text-violeta font-semibold">Importancias</p>
            <select id="importancias" name="importancias" (change)="cambioImportancias($event)" class="bg-transparent mt-2 border border-violeta text-violeta text-sm rounded-lg  block w-full p-2.5 ">
                <option value="0" [selected]="filtrosActuales.id_importancia === 0">Todos</option>
                <option [selected]="filtrosActuales.id_importancia === importancia.id!" *ngFor="let importancia of listadoImportancias" [value]="importancia.id!">{{importancia.importancia}}</option>
            </select> 
        </div>    
    </div>


