<div *ngIf="listadoCategorias.length == 0;else HayCategorias">
    <h2 class="text-center my-10">No tienes todavía categorias</h2>
</div>

<ng-template #HayCategorias>
<div class="relative w-1/2 mx-auto overflow-x-auto shadow-md sm:rounded-lg my-10">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Id
                </th>
                <th scope="col" class="px-6 py-3">
                    Nombre Categoria
                </th>
                <th scope="col" class="px-6 py-3">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let categoria of listadoCategorias" [style.background]="categoria.color" class="border-b">
                <th scope="row" class="px-6 py-4 font-medium text-white whitespace-nowrap dark:text-white">
                    {{categoria.id}}
                </th>
                <td class="px-6 py-4 text-white">
                    {{categoria.categoria}}
                </td>
                <td class="px-6 py-4 flex gap-5">
                    <a [routerLink]="'/auth/actualizar-categoria/' + categoria.id" class="font-medium cursor-pointer text-blue-600 bg-white py-2 px-3 w-fit rounded-lg dark:text-blue-500 hover:underline">Edit</a>
                    <a (click)="eliminar(categoria.id!)" class="font-medium cursor-pointer text-red-600 bg-white py-2 px-3 rounded-lg dark:text-red-500 hover:underline">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>

    </div>
</ng-template>
