<div class="flex min-h-full h-screen flex-col justify-center px-6 py-12 lg:px-8 bg-oscuro">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
      <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-amarillo animate-fade-down animate-once animate-duration-[1000ms]">Crear una cuenta</h2>
    </div>

    <div *ngIf="this.userRegistrado"  class="w-1/2 mx-auto mt-10 bg-green-100 border-l-4 border-green-500 text-green-700 p-4" role="alert">
      <p class="font-bold">Operación realizada con éxito.</p>
      <p>El usuario ha sido registrado correctamente.</p>
    </div>
  
    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm animate-fade-down animate-once animate-duration-[1000ms] animate-delay-1000">
      <form class="space-y-6" [formGroup]="miFormulario" (ngSubmit)="enviar()" action="#" method="POST">
        <div>
            <label for="firstName" class="block text-sm font-medium leading-6 text-blanco">Nombre</label>
            <div class="mt-2">
              <input type="text" formControlName="firstName" name="firstName" id="firstName" autocomplete="given-name" class="block w-full rounded-md border-0 px-3.5 py-2 bg-oscuro text-blanco shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blanco sm:text-sm sm:leading-6">
                <div *ngIf="formularioEnviado && validacion('firstName')" class="bg-red-500 my-4 border rounded text-white p-2">
                    Es necesario introducir un nombre para el usuario
                </div>
            </div>
        </div>
        <div>
            <label for="lastName" class="block text-sm font-medium leading-6 text-blanco">Apellidos</label>
            <div class="mt-2">
              <input type="text" formControlName="lastName" name="lastName" id="lastName" autocomplete="given-name" class="block w-full rounded-md border-0 px-3.5 py-2 bg-oscuro text-blanco shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blanco sm:text-sm sm:leading-6">
                <div *ngIf="formularioEnviado && validacion('lastName')" class="bg-red-500 my-4 border rounded text-white p-2">
                    Es necesario introducir un nombre para el usuario
                </div>
            </div>
          </div>
        <div>
          <label for="email" class="block text-sm font-medium leading-6 text-blanco">Correo electronico</label>
          <div class="mt-2">
            <input type="email" formControlName="email" name="email" id="email" autocomplete="given-name" class="block w-full rounded-md border-0 px-3.5 py-2 text-blanco bg-oscuro shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blanco sm:text-sm sm:leading-6">
            <div *ngIf="formularioEnviado && validacion('email')" class="bg-red-500 my-4 border rounded text-white p-2">
                Es necesario introducir un email para el usuario
            </div>
        </div>
        </div>
  
        <div>
          <div class="flex items-center justify-between">
            <label for="password" class="block text-sm font-medium leading-6 text-blanco">Contraseña</label>
          </div>
          <div class="mt-2">
            <input type="password" formControlName="password" name="password" id="password" autocomplete="given-name" class="block w-full rounded-md border-0 px-3.5 py-2 text-blanco bg-oscuro shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blanco sm:text-sm sm:leading-6">
            <div *ngIf="formularioEnviado && validacion('password')" class="bg-red-500 my-4 border rounded text-white p-2">
                Es necesario introducir una contraseña para el usuario
            </div>
        </div>
        </div>
  
        <div>
          <button type="submit" class="flex w-full justify-center rounded-md bg-amarillo px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm  focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Registrarme</button>
        </div>
      </form>
  
      <p class="mt-10 text-center text-sm text-blanco">
        ¿No eres un miembro?
        <a routerLink="/login" class="font-semibold leading-6 text-amarillo hover:text-indigo-500">Ya tengo una cuenta</a>
      </p>
    </div>
</div>