<section class="flex min-h-full h-screen bg-oscuro flex-col justify-center px-6 py-12 lg:px-8 bg-gradient-to-br from-azul via-claro to-amarillo">
    <div class="h-auto w-1/2 mx-auto bg-claro bg-opacity-10 shadow-2xl rounded-md">  
        <div class="sm:mx-auto sm:w-full sm:max-w-sm">
            <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-violeta animate-fade-down animate-once animate-duration-[1000ms]">Cambiar contraseña</h2>
        </div>
        <div class="my-10 sm:mx-auto sm:w-full sm:max-w-sm animate-fade-down animate-once animate-duration-[1000ms] animate-delay-1000">
            <form class="space-y-6" [formGroup]="miFormulario" (ngSubmit)="enviar()" action="#" method="POST">
            <div>
                <label for="password1" class="block text-sm font-medium leading-6 text-violeta">Nueva contraseña</label>
                <div class="mt-2">
                <input type="password" formControlName="password1" name="password1" id="password1" autocomplete="given-name" class="block w-full bg-transparent rounded-md border-2 border-transparent px-3.5 py-2 text-violeta shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:text-violeta focus:bg-transparent  sm:text-sm sm:leading-6">
                <div *ngIf="formularioEnviado && validacion('password1')" class="bg-red-500 my-4 border w-fit rounded text-white p-2">
                    Es necesario introducir la contraseña
                </div>
            </div>
            </div>
        
            <div>
                <div class="flex items-center justify-between">
                <label for="password2" class="block text-sm font-medium leading-6 text-violeta">Repetir nueva contraseña</label>
                </div>
                <div class="mt-2">
                <input type="password" formControlName="password2" [ngClass]="{'border-red-600': confirmarPassword('password2'), 'border-green-600': !confirmarPassword('password2')}" name="password2" id="password2" autocomplete="given-name" class="block w-full bg-transparent rounded-md border-2 px-3.5 py-2 text-violeta shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:text-violeta focus:ring-inset sm:text-sm sm:leading-6">
                <div *ngIf="formularioEnviado && validacion('password2')" class="bg-red-500 my-4 w-fit border rounded text-white p-2">
                    Es necesario repetir la contraseña
                </div>
            </div>
            </div>
        
            <div>
                <button type="submit" class="flex w-full justify-center rounded-md bg-violeta px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm  focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Cambiar contraseña</button>
            </div>
            </form>
        </div>
    </div>
</section>
